# Dependencies
node_modules/

# Build outputs
.svelte-kit/
build/
dist/

# Environment variables
.env
.env.*
!.env.example
ecosystem.config.cjs

# Database (SQLite)
*.db*
*.db-journal
*.sqlite
*.sqlite3

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# OS metadata
.DS_Store
Thumbs.db

# Lock files (I prefer to use pnpm)
package-lock.json
yarn.lock